
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Chapter</title>
</head>
<body>
    <h1>Add Chapter</h1>
    <form method="post">
        {% csrf_token %}

        <label>Chapter Name:</label>
        <input type="text" name="name" required><br><br>

        <label>Title:</label>
        <input type="text" name="title" required><br><br>

        <label>Subject:</label>
        <select name="subject_id" required>
            {% for sub in subject %}
                <option value="{{ sub.id }}">{{ sub.subject_name }}</option>
            {% endfor %}
        </select><br><br>

        <label>Is Active:</label>
        <input type="checkbox" name="is_active"><br><br>

        <button type="submit">Save</button>
    </form>
</body>
</html>